.bg {
    background-image: url("/src/Components/Pictures/accueilSite.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-weight: bold;
    text-align: center;
    height: 100%;
}

a {
    color: black;
}

.textfield {
    width : 75%;
    background: rgba(255, 255, 255, 0.4);
}

hr {
    border: 2px solid #25995C;
}

.NB {
    font-size: x-small;
}

.Title {
    font-size: xxx-large;
    margin-bottom: -20px;
}

.Text {
    font-size: 120%;
}

.logo {
    height: 70px;
    margin-bottom: 10px;
    margin-left: -100px;
}