@font-face {
    font-family: "OpenSansLight";   /*Can be any text*/
    src: local("OpenSans-Light"),
    url("Components/font/OpenSans-Light.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: OpenSansLight, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  height: 100%;
}


.separation{
    width:3px;
    height:100%;
    position:absolute;
    margin-left: 212px;
}

.bgQuestionnaire {
    background-image: url("/src/Components/Pictures/passau.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}