@font-face {
    font-family: "OpenSansLight";   /*Can be any text*/
    src: local("OpenSans-Light"),
    url("font/OpenSans-Light.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: OpenSansLight, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  height: 100%;
}
