@font-face {
    font-family: "OpenSansLight";   /*Can be any text*/
    src: local("OpenSans-Light"),
    url("../font/OpenSans-Light.ttf") format("truetype");
}

body {
    text-align: center;
}

.textfield {
    width : 75%;
}

hr {
    border: 2px solid #64c692;
}

.leaves {
    height:5%;
}